.card {
    padding-left: 2em;
    text-transform: capitalize;

}

.disponibility {
    color: green;
}

.immat {
    text-transform: uppercase;
}

.buttonsContainer {
    display: flex;
}

input {
    border: none;
    background-color: transparent;
}

.selectLabel{
    margin-left: 1.5em;
}
